# Dependencies
node_modules/
*.log

# Environment variables
.env
.env.local
.env.production

# Build output
dist/
build/

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite
*.db